@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('//db.onlinewebfonts.com/c/2e30c0e2ce7158a62133a0b328e71e72?family=Aniron');
header {
  font-family: "Aniron";
  font-size: 50px;
  h2{
    font-family: "Aniron";
  }
}
@media screen and (max-width:800px){
  header {
    font-size: 100% !important;
    h2{
      font-size: 100% !important;
    }
  }
 }

html,body,h1,h2,h3,h4,h5,h6 {font-family: "Montserrat","Roboto", sans-serif; z-index: 0;}
body {
    font-family: 'Raleway','Montserrat', 'sans-serif', 'Calibri';
    margin: 0;
    background: #fcfcfc;
    font-size: 18px;
    font-weight: 500;
    
}

h1 {
  font-weight: 500;
}

/*Sticky Navbar*/

#navbar1 {
  overflow: hidden;
  background-color: #333;
}

#navbar1 a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 17px;
}

#navbar1 a:hover {
  background-color: #ddd;
  color: black;
}

#navbar1 a.active {
  background-color: #4CAF50;
  color: white;
}


.sticky {
  position: fixed;
  top: 0;
}

.sticky + .w3-main {
  padding-top: 690px;
}

.footer {
    h3 {
      font-weight: bolder;
    }
    p {
      font-weight: lighter;
    }
  }
.tab {
  height: 8vh;
  text-align: left;
  padding: 4px;
  margin: 2px;
}
.nav-active {
background-color: rgb(255, 255, 255);
color: black;
}
.pvw-title div {
  display: none;
}
.pvw-title:after {
  content: 'whatever it is you want to add';
}

.fakebook {
  border: 3px 3px 3px 3px, solid, black !important;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.288);
  height: 15em;
  width: 10em;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.fakebook:hover {
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 10px 12px 0 rgba(0,0,0,0.19);
}
@media (max-width:900px){
  .fakebook {height: 7.5em !important;width: 5em !important;margin-top: 2em !important;}
  .w3-cell-bottom h3{font-size: 20px !important; font-weight: 500 !important;}
  .books {padding-left: 0 !important;}
}

.category {padding-left: 0 !important;padding-top: 1em !important;margin: 0 !important;} 
.books {padding-left: 1em ;padding-top: 0 !important; margin: 0 !important;}

 .hr {
  height: 1px;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 30%;
 }
 .b1
 {color:#fff;background-color:#5856d6;}
 .b2
 {color:#fff;background-color:#007AFF}
 .b3
 {color:#fff;background-color:#34AADC}
 .b4
 {color:#fff;background-color:#5AC8FA}
 .b5
 {color:#000;background-color:#4cd964}
 .b6
 {color:#fff;background-color:#ff2d55}
 .b7
 {color:#fff;background-color:#ff3b30}
 .b8
 {color:#fff;background-color:#ff9500}
 .b9
 {color:#000;background-color:#ffcc00}
 .b10
 {color:#fff;background-color:#8e8e93}
 .b11
 {color:#000;background-color:#ceced2}
 .b12
 {color:#000;background-color:#efeff4}